{{ ansible_managed | comment }}
[Unit]
Description=Prune unused Docker images daily
Requires=docker.service
RefuseManualStart=no
RefuseManualStop=no

[Timer]
OnBootSec=5min
OnUnitActiveSec=2h
Persistent=true
Unit=docker-prune.service

[Install]
WantedBy=timers.target
